{% extends "layout.html" %}

{% block body %}

{% block head %}
<script type='text/javascript'>
    function addFields(){
        // Generate a dynamic number of inputs
        var number = document.getElementById("member").value;
        // Get the element where the inputs will be added to
        var container = document.getElementById("container");
        // Remove every children it had before
        while (container.hasChildNodes()) {
            container.removeChild(container.lastChild);
        }
        for (i=0;i<number;i++){
            // Append a node with a random text
            container.appendChild(document.createTextNode("Member " + (i+1)));
            // Create an <input> element, set its type and name attributes
            var input = document.createElement("input");
            input.type = "text";
            input.name = "member" + i;
            container.appendChild(input);
            // Append a line break 
            container.appendChild(document.createElement("br"));
        }
    }
</script>
{% endblock %}

{% include 'navbar.html' %} 

<h1 class="mt-3">Establecer las rutas involucradas</h1>
<div class="mt-3">
    <div>
        <form action="/crear_rutas" enctype="multipart/form-data"  method="post" id="formulario">

            <div class="form-group">
                <label for="ruta">Ruta: </label>
                <input class="form-control" type="text" id="ruta" name="ruta" placeholder="Ingrese la ruta" required>
            </div>

            <button class="btn btn-secondary mt-3" id="boton_add_ruta" onClick="add_ruta()">Agregar ruta</button>
            <p id="GFG_DOWN"></p>

            <button type="submit" class="btn btn-primary mt-3"> Guardar </button>
        </form>
    </div>
</div>

<script>
    document.getElementById("boton_add_ruta").addEventListener("click", function(event){
        event.preventDefault()
      });
    var down = document.getElementById("GFG_DOWN");
    
    // Create a break line element
    var br = document.createElement("br");
    function add_ruta() {
        
        var form = document.getElementById("formulario");
        
        var new_ruta = document.createElement("input");
        new_ruta.setAttribute("type", "text");
        new_ruta.setAttribute("name", "ruta_extra");
        new_ruta.setAttribute("placeholder", "Ruta extra");
        new_ruta.setAttribute("class", "form-control");
        
        form.appendChild(new_ruta);
    }
    </script>

{% endblock %}