{% extends "layout.html" %}

{% block body %}

{% include 'navbar.html' %} 

{% if materiales_con_fabri != [] %}
    <h1 class="mt-3">Elegir fabricantes</h1>
    <h2 class="mt-3">Materiales con fabricante</h2>

    <div class="mt-3">
        <div>
            <form action="/reserve_fabricantes" enctype="multipart/form-data"  method="post">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Fabricante</td>
                            <td>Fecha de entrega</td>
                            <td>Material</td>
                            <td>Precio por kilo</td>
                            <td>Seleccionar</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for maker in materiales_con_fabri %}
                            {%for material in maker['materials'] %}
                            <tr>
                                <td>{{maker['name'].capitalize()}}</td>
                                <td>{{maker['date_deliver']}}</td>
                                <td>{{material['name'].capitalize()}}</td>
                                <td>{{material['price_per_kg']}}</td>
                                <td>
                                    <input type="checkbox" id="seleccionar_fabricante" name="seleccionar_fabricante" value="{{[maker['id'],material['id'],material['amount'],maker['date_deliver']]}}">
                                </td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                 <button type="submit" class="btn btn-primary mt-3"> Reservar </button>
            </form>
        </div>
    </div>
{% endif %}



{% if materiales_sin_fabri != [] %}
    <h2 class="mt-3">Materiales sin fabricante</h2>
    <table class="table">
        <thead>
            <tr>
                <td>Nombre</td>
                <td>Cantidad solicitada</td>
            </tr>
        </thead>
        <tbody>
            {%for material in materiales_sin_fabri %}
            <tr>
                <td>{{material['name'].capitalize()}}</td>
                <td>{{material['amount']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<h1 class="mt-3">Renegociar</h1>

<div class="mt-3">
    <div>
        <form action="/search_fabricantes" enctype="multipart/form-data"  method="post">

            <div class="form-group">
                <label for="description">Filtro precio: </label>
                <input class="form-control" type="number" id="filtro_precio" name="filtro_precio">
            </div>

            <div class="form-group">
                <label for="description">Dias extra: </label>
                <input class="form-control" type="number" id="dias_extra" name="dias_extra">
            </div>
            
            

            <button type="submit" class="btn btn-primary mt-3"> Buscar </button>
        </form>
    </div>
</div>

{% endblock %}