{% extends "layout.html" %}

{% block body %}

{% include 'navbar.html' %} 

<table class="table table-bordered table-hover mt-5">
    <thead class="thead-dark">
        <tr>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Tipo</th>
            <th class="text-center" scope="col">Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for col in cols %}
            <tr>
                <td class="text-center" scope="row">{{col.nombre}}</td>
                <td class="text-center" scope="row">{{col.tipo}}</td>
                <td class="text-center" scope="row">{{col.fecha}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<!--
  <h1>Inicio</h1>
  
  <nav>
    <div>    
        <ul >
            <li>
                <a class="nav-link {{'active' if request.endpoint == 'home'}}" aria-current="page" href="{{url_for('home')}}">Home</a>
            </li>
            {% if tiene_permiso(session["id"], "create_collection") %}
            <li >
                <a class="nav-link {{'active' if request.endpoint == '/coleccion_index'}}" href="{{url_for('coleccion_index')}}">Crear colección</a>
            </li>
            {% endif %}
            <li >
                <a class="nav-link" href="{{url_for('auth_logout')}}" style="color: red;">Cerrar sesión</a>
            </li>
        </ul>      
    </div>
</nav>
-->


{% endblock %}