{% extends "layout.html" %}

{% block body %}

{% include 'navbar.html' %} 

<h1 class="mt-3">Colecciones: </h1>

{% if cols %}
    {% for collection in cols %}
        <table class="table table-bordered table-hover mt-5">
            <thead class="table-info">
                <tr>
                    <th class="text-center" scope="col">NOMBRE: {{collection.nombre}}</th>
                    <th class="text-center" scope="col">DESCRIPCIÓN: {{collection.descripcion}}</th>
                    <th class="text-center" scope="col">FECHA: {{collection.fecha}}</th>
                </tr>            
            </thead>        
            <tbody>
                {% for model in collection.models %}
                    <tr>
                        <td class="text-center" scope="row">{{model.name}}</td>
                        <td class="text-center" scope="row">{{model.description}}</td>
                        <td class="text-center" scope="row">{{model.type}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
        {% if tiene_permiso("operativo") %}
            <a href="{{url_for('set_materials_and_quantities_index', id_collection = collection.id)}}" class="btn btn-info w-100 text-center">Establecer materiales y cantidades</a>
        {% endif %}
    {% endfor %}

{% else %}
    <div class="alert alert-info text-center mt-5">
        Aún no hay colecciones creadas
    </div>
{% endif %}

{% endblock %}