{% extends "layout.html" %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" >

    <div>
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="navbar-brand {{'active' if request.endpoint == 'home'}}" aria-current="page" href="{{url_for('home')}}" >Inicio</a>
        </li>

        {% if tiene_permiso(session["id"], "create_collection") %}
        <li class="nav-item active">
          <a class="nav-link {{'active' if request.endpoint == '/coleccion_index'}}" href="{{url_for('coleccion_index')}}" >Crear colección</a>
        </li>
        {% endif %}
        
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('auth_logout')}}" style="margin-left: 750px;">Cerrar sesión</a>
        </li>

      </ul>
    </div>
  </nav>


<div class="d-flex justify-content-center align-items-center" >
  <div class="text-center">
      
      <div class="content container-fluid">
          {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="message">
                  {% for message in messages %}
                  <div class="alert alert-primary">{{ message }}</div>
                  {% endfor %}
              </div>
              {% endif %}
          {% endwith %}
  
          {% block content %}
          {% endblock %}
          
      </div>
  </div>
</div>

{% endblock %}